<h4>Internal Server Error -  refershing the page will make the error disappear !</h4>

<ng-container *ngIf="error" >

    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seing this follow this instruction </p>
    <p>What to do next?</p>
    <ol>
        <li>Open the Chrome Dev-Tool</li>
        <li>Inspect the network tab</li>
        <li>check the failing request</li>
        <li>Examin the request URl- Make sure it is correct</li>
        <li>Use postman tool to debug</li>
       </ol>

       <p>Following is the stack trace- this is where your investigation should start</p>
       <code class="mt-5">{{error.details}}</code>

</ng-container>